<!-- Page published by Emacs Muse ends here -->
<table width="100%" border="0"><tr>
<td aligh="left"><div id="lastchange"><p><em><lisp>(concat "Last change: " (generate-change-date (muse-current-file)))</lisp></em></p></div></td>
<td aligh="right" width="30%"><script type="text/javascript" src="http://platform.linkedin.com/in.js"></script><script type="in/share" data-counter="right"></script></td>
</tr></table>

<div id="rule"><div class="js-kit-comments" permalink=""></div><script src="http://js-kit.com/comments.js"></script></div></div>
<!-- div-contentwide -->

<div id="footer">
<p>Copyright &copy; 1997-2008
<a href="<lisp>(muse-gen-relative-name "copyright.html")</lisp>">Alex Ott</a> &middot; Design
by <a href="http://andreasviklund.com/">Andreas Viklund</a>&nbsp;&middot;&nbsp;
<a href="http://mwolson.org/projects/EmacsMuse.html"><img alt="muse logo" src="<lisp>(muse-gen-relative-name "muse-grey-bar.png")</lisp>" /></a></p></div>
</div> <!-- div-wrap -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-78697-10");
pageTracker._trackPageview();
} catch(err) {}</script>

  </body>
</html>
